img {
    position: relative;
    
}


.body-div {
    width: 700px;
    margin: 0 auto 0 auto;

}


.search-btn {
    position: relative;


}

.lucky-btn {
    position: relative;


}

.search-bar{
    position: relative;

}